## Lists

In [11]:
#Creating a list
fruits = ["apple", "orange", "banana", "cherry", "kiwi"]
print(fruits)

['apple', 'orange', 'banana', 'cherry', 'kiwi']

In [12]:
#Verifying Data type
print(type(fruits))

<class 'list'>

In [14]:
#indexing (always starts from 0)
print(fruits[3])

cherry

In [15]:
#Defining a list with all elements integer
numbers = [1, 2, 4, 7, 9, 10]
print(numbers)

[1, 2, 4, 7, 9, 10]

In [17]:
print(numbers[4])

9

In [19]:
#Defining a list with mixed data type elements
mixed_list = ["Abaad", 24, True, 5.4]
print(mixed_list)
print(type(mixed_list))

['Abaad', 24, True, 5.4]
<class 'list'>

In [23]:
print(mixed_list[0])
print(type(mixed_list[0]))


print(mixed_list[1])
print(type(mixed_list[1]))


print(mixed_list[2])
print(type(mixed_list[2]))

print(mixed_list[3])
print(type(mixed_list[3]))

Abaad
<class 'str'>
24
<class 'int'>
True
<class 'bool'>
5.4
<class 'float'>

In [35]:
#Trying different ways to print
print(mixed_list[0])
print(type(mixed_list[0]))


print(f"The first element of list is {mixed_list[0]} and its data type is {type(mixed_list[0])} ")
print("The first element of list is ", mixed_list[0], " and its data type is ", type(mixed_list[0]))

Abaad
<class 'str'>
The first element of list is Abaad and its data type is <class 'str'>
The first element of list is  Abaad  and its data type is  <class 'str'>

## Modifying Lists

In [49]:
#Defining a list of names
names = ["mariam", "saadia", "tahira", "sania"]
print(names)

['mariam', 'saadia', 'tahira', 'sania']

In [50]:
#Adding element to the last of the list
names.append("maryam")
print(names)

['mariam', 'saadia', 'tahira', 'sania', 'maryam']

In [51]:
#Insert/Add new element at a position/index
names.insert(2, "new name")

In [52]:
print(names)

['mariam', 'saadia', 'new name', 'tahira', 'sania', 'maryam']

In [54]:
names.insert(2, "abaad")

In [55]:
print(names)

['mariam', 'saadia', 'abaad', 'abaad', 'new name', 'tahira', 'sania', 'maryam']

In [56]:
#Remove elements from the last of a list
names.pop()
print(names)

['mariam', 'saadia', 'abaad', 'abaad', 'new name', 'tahira', 'sania']

In [57]:
names.pop()
print(names)

['mariam', 'saadia', 'abaad', 'abaad', 'new name', 'tahira']

In [59]:
#Remove element from a specific position
names.remove("abaad")
print(names)

['mariam', 'saadia', 'abaad', 'new name', 'tahira']

In [60]:
#Getting the number of elements in a list
print(len(names))

5

In [61]:
names.append("new student")

In [62]:
print(len(names))

6

In [63]:
print(names)

['mariam', 'saadia', 'abaad', 'new name', 'tahira', 'new student']

In [64]:
course = ["graphic designing", "project management", "python programmmmming"]

In [65]:
#changing/updating existing value of elements
course[2] = "python programming"
print(course)

['graphic designing', 'project management', 'python programming']

In [ ]:
#Stoeing element of a list in a new variable (Getting Values)
vege = ["tomato", "potato", "peas", "lemon"]

my_fav_vegetable = vege[1]
print(my_fav_vegetable)

In [66]:
# list1 = ["name", "age", "height"] --> list1 = ["Sara", "32", "5.7"]

# This snippet creates a list containing strings "name", "age", and "height".
# This is just a list of attribute names, not actual data. Therefore, it is not
# suitable for storing varied personal data for individuals because it does not
# associate these attributes with any specific values or persons. A dictionary
# or a class would be better suited for such purposes as they allow pairing these
# attributes with specific values.

['abaad']

In [ ]:
# list2 = ["name1", "name2", "name3" ....] --> list2 = ["Sara", "Sana", "Saima"]

# This example shows a list being used to store the names of 200 people.
# In this case, using a list is appropriate because it is simply a collection
# of names, which are uniformly strings. A list is a suitable choice for this
# type of homogeneous data collection where each item (name) has the same data
# type and represents a similar kind of information.

## Tuples

In [68]:
#Defining a Tuple
my_tuple = (1, 2, 3, 4, 7, 8, 9)
print(my_tuple)

(1, 2, 3, 4, 7, 8, 9)

In [69]:
#Getting the number of elements in a tuple
print(len(my_tuple))

7

In [71]:
#Verifying if tuples are really immutable?
my_tuple.pop()
print(my_tuple) #Tuple is immutable

AttributeError: 'tuple' object has no attribute 'pop'

In [84]:
#Concatenation
tuple1= ("a", "b", "c")
tuple2= ('x', 'y', 'z')

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 'x', 'y', 'z')

In [79]:
tuple1

('a', 'b', 'c', 'x', 'y', 'z')

In [74]:
#Repition
tuple1 = ('a', 'b', 'c')

tuple1 = tuple1 * 10
print(tuple1)

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

In [76]:
tuple2= (1, 2, 3)

tuple2 = tuple2 * 5
print(tuple2)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [94]:
new_tuple = (1,2, 6,3,4,1,"abc",2,4,8,6,8,1,1,1,3, 6, "abc")

In [87]:
# Counting the occurrences of the number 8 in the tuple 'new_tuple'
print(new_tuple.count(8))

2

In [96]:
# Finding the index of the string "abc" in the tuple 'new_tuple'
print(new_tuple.index("abc"))

6

In [103]:
#Membership Testing
List4 = [1, 2, 3, "a", "b", "c"]

print("a" in List4)

True

## Practice

In [106]:
even_numbers = [2, 4, 6, 8, 10]
odd_numbers = [1, 3, 5 ,7 ,9]

combined_numbers = even_numbers + odd_numbers
print(combined_numbers)

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

In [108]:
my_free_time = ("saturday", "sunday")

friends_day = input("Enter day:")

if friends_day in my_free_time:
  print("Lets meet!")
else:
  print("plan any other day")

my_free_time.append("monday")

Enter day:saturday
Lets meet!