## Operators

# Airthmetic Operators

In [3]:
x = 10
y = 15

In [12]:
#Addition (+)

print(x + y)
print(y + x)

25
25

In [7]:
#Subtraction (-)

print(x - y)
print(y - x)

-5
5

In [10]:
a = 25
b = 5


#Division (/)

print(a / b)
print(b / a)

5.0
0.2

In [18]:
x1 = 10
x2 = 4


#Multiplication (*)

print(x1 * x2)
print(x2 * x1)

40
40

In [21]:
a = 21
b = 7

#Modulus (%) --> Returns the remainder

print(a % b)

0
3.0

In [26]:
x = 2
y = 5

#Exponent (**) --> Taking Power

print(x ** y)

32

# Comparison Operators

In [29]:
a = 1000
b = 99


#Greater than (>)
print(a > b)
print(b > a)
print(a > a)

True
False
False

In [33]:
a = -100
b = 25

#Less than (<)
print(a < b)
print(b < a)

True
False

In [36]:
a = 1000
b = 99

#Greater Than or Equal to (>=)
print(a >= b)
print(b >= a)
print(a >= a)

True
False
True

In [39]:
x1 = 5000
y1 = 3000

#Less than or Equal To (<=)
print(x1 <= y1)
print(y1 <= x1)
print(y1 <= y1)

False
True
True

In [43]:
x = 65
y = 55
z = 65

#Equality (==)
print(x == y)
print(x == z)
print(x == x)

False
True
True

In [45]:
x = 65
y = 55
z = 65

#Not Equal (!=)
print(x != y)
print(x != z)

True
False

# Assignment Operators

In [50]:
#Simple Assignment (=)

x = 55
y = 99

z = x * y
print(z)

5445

In [52]:
x = 10
y = 20

#Addition Assignment
x += y #x = x+y
print(x)

#Example 02
a = 100
b = 5

a += b
#a = a+b
print(a)

30
105

In [53]:
x = 100
y = 10

#Subtraction Assignment
x -= y
#x = x-y
#x = 100-90
print(x)

90

In [ ]:
x = 100
y = 10

## Control Flow

#If - Statement

In [63]:
temperature = 55

if (temperature > 50):
  print("It is hot today")

In [65]:
age = 16

if (age >= 18):
  print("You're eligible!")

## If - Else - Statement

In [69]:
temperature = 55

if (temperature > 50):
  print("It is hot today")

else:
  print("It is not hot today")

It is hot today

In [71]:
age = 45

if (age >= 18):
  print("You're eligible!")
else:
  print("You're not eligible!")

You're eligible!

In [76]:
#user input

age = int(input("Enter your age: "))

if (age >= 18):
  print("You're eligible!")
else:
  print("You're not eligible!")

Enter your age: 15
You're not eligible!

In [75]:
#user input

name = input("Enter you Name: ")
age = int(input("Enter your age: "))
course = input("Course Name: ")


print(name)
print(age)
print(course)

Enter you Name: abc
Enter your age: 78
Course Name: xyz
abc
78
xyz

If - Elif - Else Statement

In [78]:
weekday = int(input("Enter the number of day of the week:"))

if (weekday == 1):
  print("Day is monday")
elif (weekday == 2):
  print("Day is tuesday")
elif (weekday == 3):
  print("Day is wednesday")
elif (weekday == 4):
  print("Day is Thursday")
elif (weekday == 5):
  print("Day is friday")
elif (weekday == 6):
  print("Day is saturday")
elif (weekday == 7):
  print("Day is sunday")
else:
  print("You have entered wrong number")

Enter the number of day of the week:15
You have entered wrong number

In [81]:
grade = input("Enter your Grade: ")

if (grade == "A"):
  print("Excellent")
elif (grade == "B"):
  print("Good")
elif (grade == "C"):
  print("Needs Improvement")
elif (grade == "D"):
  print("You're Fail")
else:
  print("Invalid Grade")

Enter your Grade: P
Invalid Grade