# Dictionary
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates. Dictionaries are written with curly brackets, and have keys and values:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

# Dictionary Items
Dictionary items are presented in key:value pairs, and can be referred to by using the key name. Print the "brand" value of the dictionary

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

# Duplicates Not Allowed
Dictionaries cannot have two items with the same key:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

# Dictionary Length
To determine how many items a dictionary has, use the len() function

In [ ]:
print(len(thisdict))

# Dictionary Items - Data Types
The values in dictionary items can be of any data type:

In [ ]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

# type()
From Python's perspective, dictionaries are defined as objects with the data type 'dict':

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

# The dict() Constructor
It is also possible to use the dict() constructor to make a dictionary.

In [ ]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

# Accessing Items
You can access the items of a dictionary by referring to its key name, inside square brackets:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

There is also a method called get() that will give you the same result:

In [ ]:
x = thisdict.get("model")

# Get Keys
The keys() method will return a list of all the keys in the dictionary.

In [ ]:
x = thisdict.keys()

Add a new item to the original dictionary, and see that the keys list gets updated as well:

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

# Get Values
The values() method will return a list of all the values in the dictionary.

In [ ]:
x = thisdict.values()

Make a change in the original dictionary, and see that the values list gets updated as well:

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

Add a new item to the original dictionary, and see that the values list gets updated as well:

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

The items() method will return each item in a dictionary, as tuples in a list.

In [ ]:
x = thisdict.items()

Check if "model" is present in the dictionary:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

# Update Dictionary
The update() method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

Add a color item to the dictionary by using the update() method:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

# Removing Items
There are several methods to remove items from a dictionary:

The pop() method removes the item with the specified key name:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

The popitem() method removes the last inserted item

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

The del keyword removes the item with the specified key name:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

The del keyword can also delete the dictionary completely:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

The clear() method empties the dictionary:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

# Copy a Dictionary
You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

There are ways to make a copy, one way is to use the built-in Dictionary method copy().

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

Make a copy of a dictionary with the dict() function:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

# Nested Dictionaries
A dictionary can contain dictionaries, this is called nested dictionaries.

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

In [ ]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

# Access Items in Nested Dictionaries
To access items from a nested dictionary, you use the name of the dictionaries, starting with the outer dictionary:

# Set
Sets are used to store multiple items in a single variable.

A set is a collection which is unordered, unchangeable*, and unindexed. Sets are written with curly brackets.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

# Duplicates Not Allowed
Sets cannot have two items with the same value

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

The values True and 1 are considered the same value in sets, and are treated as duplicates:

In [ ]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

The values False and 0 are considered the same value in sets, and are treated as duplicates:

In [ ]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

to determine how many items a set has, use the len() function.

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

# Set Items - Data Types
Set items can be of any data type:

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [ ]:
A set can contain different data types:

In [ ]:
set1 = {"abc", 34, True, 40, "male"}

# type()
What is the data type of a set?

In [ ]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

# The set() Constructor
It is also possible to use the set() constructor to make a se

In [ ]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

# Access Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

Check if "banana" is present in the set:

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

Check if "banana" is NOT present in the set:

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

# Change Items
Once a set is created, you cannot change its items, but you can add new items.

# Add Items
Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the add() method.

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'cherry', 'apple', 'banana'}

# Add Sets
To add items from another set into the current set, use the update() method.

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

# Add Any Iterable
The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

# Remove Item
To remove an item in a set, use the remove(), or the discard() method.
Note: If the item to remove does not exist, remove() will raise an error.

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

Remove "banana" by using the discard() method:. Note: If the item to remove does not exist, discard() will NOT raise an error.

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The return value of the pop() method is the removed item.

Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed

In [ ]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

The clear() method empties the set:

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

The del keyword will delete the set completely:

In [ ]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

# Join Sets
There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

#You can use the | operator instead of the union() method, and you will get the same result.

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

# Join Multiple Sets
All the joining methods and operators can be used to join multiple sets.

When using a method, just add more sets in the parentheses, separated by commas:

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

#When using the | operator, separate the sets with more | operators:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'a', 'b', 'bananas', 'c', 'John', 'cherry', 'apple', 'Elena'}

# Join a Set and a Tuple
The union() method allows you to join a set with other data types, like lists or tuples.

The result will be a set.

In [ ]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

Note: The  | operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.

# Update
The update() method inserts all items from one set into another.

The update() changes the original set, and does not return a new set.

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

 Note: Both union() and update() will exclude any duplicate items.

# Intersection
Keep ONLY the duplicates

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

#You can use the & operator instead of the intersection() method, and you will get the same result.
#Note: The & operator only allows you to join sets with sets, and not with other data types like you can with the intersection() method.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

The values True and 1 are considered the same value. The same goes for False and 0.

In [ ]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

# Difference
The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

#You can use the - operator instead of the difference() method, and you will get the same result.


set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

Note: The - operator only allows you to join sets with sets, and not with other data types like you can with the difference() method.

The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

# Symmetric Differences
The symmetric_difference() method will keep only the elements that are NOT present in both sets.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

Note: The ^ operator only allows you to join sets with sets, and not with other data types like you can with the symmetric_difference() method.

The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)